<app-navbar-admin></app-navbar-admin>

<div class="mx-auto flex py-16 px-4 sm:py-14 sm:px-6 lg:max-w-7xl lg:px-8">

    <app-side-bar-admin></app-side-bar-admin>

    <div class="w-50 flex ml-8">
        <div class="group relative ">
            <div
                class="min-h-60 aspect-w-1 aspect-h-1 cursor-pointer w-45 overflow-hidden border-2 border-black rounded-md group-hover:opacity-75 lg:aspect-none lg:h-44">
                <a [routerLink]="['/products/manager']">
                    <svg class="h-40 w-36 object-cover object-center lg:h-40 lg:w-36" fill="none" stroke="currentColor"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"></path>
                    </svg>
                </a>

            </div>
            <div class="mt-4">
                <p class="text-sm font-medium text-gray-900">Gerenciar produtos</p>
            </div>
        </div>

        <div class="group relative ml-4 border-black">
            <div
                class="min-h-60 aspect-w-1 aspect-h-1 w-45 cursor-pointer overflow-hidden border-2 border-black rounded-md group-hover:opacity-75 lg:aspect-none lg:h-44">
                <a [routerLink]="['/manager/categories']">
                    <svg class="h-40 w-36 object-cover object-center lg:h-40 lg:w-36" fill="none" stroke="currentColor"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01">
                        </path>
                    </svg>
                </a>
            </div>
            <div class="mt-4">
                <p class="text-sm font-medium text-gray-900">Gerenciar categorias</p>
            </div>
        </div>

    </div>
</div>