<div class="flex flex-row justify-center">

    <app-loading *ngIf="busy"></app-loading>

    <form class="w-1/2 py-12 px-4 sm:px-6 lg:px-8" [formGroup]="createForm" *ngIf="!busy" (ngSubmit)="submit()"
        #formDir="ngForm">
        <div>

            <h2 class="my-8 text-center text-3xl font-bold tracking-tight text-gray-900">Cadastre-se</h2>
        </div>
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Nome</label>
                <input type="text" formControlName="firstName"
                    class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                    required>
                <div class="text-red-600" *ngIf="firstName.invalid && formDir.submitted">
                    <p *ngIf="firstName.errors?.['required']">O nome é obrigatório</p>
                </div>
            </div>

            <div>
                <label for="lastName"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Sobrenome</label>
                <input type="text" formControlName="lastName"
                    class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                    required>
                <div class="text-red-600" *ngIf="lastName.invalid && formDir.submitted">
                    <p *ngIf="lastName.errors?.['required']">O sobrenome é obrigatório</p>
                </div>
            </div>

        </div>

        <div class="mb-6">
            <label for="document" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">CPF</label>
            <input type="text" formControlName="document" mask="###.###.###-##"
                class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                required>
            <div class="text-red-600" *ngIf="document.invalid && formDir.submitted">
                <p *ngIf="document.errors?.['required']">O CPF é obrigatório</p>
                <p *ngIf="document.errors?.['cpfNotValid']">CPF inválido</p>
            </div>
        </div>

        <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Email</label>
            <input type="email" formControlName="email"
                class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                required>
            <div class="text-red-600" *ngIf="email.invalid && formDir.submitted">
                <p *ngIf="email.errors?.['required']">O email é obrigatório</p>
                <p *ngIf="email.errors?.['InvalidEmail']">Email inválido</p>
            </div>
        </div>
        <div class="mb-6">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Senha</label>
            <input type="password" formControlName="passwordHash"
                class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                required>
            <div class="text-red-600" *ngIf="passwordHash.invalid && formDir.submitted">
                <p *ngIf="passwordHash.errors?.['required']">A senha é obrigatória</p>
            </div>
        </div>
        <div class="flex items-start mb-6">
            <div class="flex items-center h-5">
                <input id="remember" type="checkbox" value=""
                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                    required>
            </div>
            <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-black-300">Eu concordo com os
                <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">Termos e condições</a>.</label>
        </div>
        <button type="submit"
            class="text-white dark:bg-gray-800 hover:bg-gray-700  focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-7 py-2.5 text-center ">Criar</button>
    </form>
</div>