<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-8">
        <div>
            <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                alt="Your Company">
            <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Faça login</h2>
        </div>

        <app-loading *ngIf="busy"></app-loading>


        <form class="mt-8 space-y-6" [formGroup]="postForm" *ngIf="!busy" (ngSubmit)="submit()" #formDir="ngForm">
            <div class="-space-y-px rounded-md shadow-sm">
                <div>
                    <label for="email-address"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-black my-1">Email</label>
                    <input id="email-address" name="email" formControlName="email" type="email" autocomplete="email"
                        required
                        class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                </div>
                <div class="text-red-600" *ngIf="email.invalid && formDir.submitted">
                    <p *ngIf="email.errors?.['required']">O email é obrigatório</p>
                    <div class="text-red-600" *ngIf="infoWrong">
                        <p>Usuário ou senha inválidos</p>
                    </div>
                </div>

                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black my-1"
                        for="password">Senha</label>
                    <input id="password" name="password" type="password" formControlName="password"
                        autocomplete="current-password" required
                        class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                </div>
                <div class="text-red-600" *ngIf="password.invalid && formDir.submitted">
                    <p *ngIf="password.errors?.['required']">A senha é obrigatória</p>
                </div>
                <div class="text-red-600" *ngIf="infoWrong">
                    <p>Usuário ou senha inválidos</p>
                </div>
            </div>

            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <input id="remember-me" name="remember-me" type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="remember-me" class="ml-2 block text-sm text-gray-900">Manter logado</label>
                </div>

                <div class="text-sm">
                    <a [routerLink]="['/reset-password']" class=" font-medium text-indigo-600
                        hover:text-indigo-500">Esqueci a senha</a>
                </div>
            </div>

            <div>
                <button type="submit"
                    class="group relative flex w-full justify-center cursor-pointer rounded-md border border-transparent dark:bg-gray-800 py-2 px-4 text-sm font-medium text-white hover:bg-gray-700 focus:outline-none ">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    </span>
                    Entrar
                </button>
            </div>

            <div>
                <a [routerLink]="['/signup']"
                    class="group relative flex w-full justify-center rounded-md border border-transparent dark:bg-gray-800 py-2 px-4 text-sm font-medium text-white hover:bg-gray-700 focus:outline-none ">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    </span>
                    Criar conta
                </a>
            </div>
        </form>
    </div>
</div>